<a routerLink="/logIn" routerLinkActive="active">Login</a> --
<a routerLink="/rooms" routerLinkActive="active">Room-Overview</a> --
<a routerLink="/rooms/detailed" routerLinkActive="active">Room-Detailed</a> --
<a routerLink="/devices" routerLinkActive="active">Device-Overview</a> --
<a routerLink="/devices/detailed" routerLinkActive="active">Device-Detailed</a> --
<a routerLink="/configs" routerLinkActive="active">Config-Overview</a> --
<a routerLink="/configs/user" routerLinkActive="active">Config-Nutzer</a> --
<a routerLink="/configs/supplier" routerLinkActive="active">Config-Lieferant</a> --
<a routerLink="/configs/devicetype" routerLinkActive="active">Config-Gerätetype</a>

<router-outlet></router-outlet>
