<div class="container-fluid">

        <div class="row">
            <b class="col-2">
                Raum {{room.nr}}
            </b>
            <b class="col">
                {{room.bezeichnung}}
            </b>
        </div> 
        <hr>
        <div class="ex1">
            <b>Hardware:</b>
            <br>
            <br>
            
            <div class="flex-container" style="padding: 1%">
                <app-room-card *ngFor="let component of overViewHComponents; let i = index" [card]="component" (click)="clickCard(room.komponenten[i].id)" [ngClass]="{'active': isCardSelected(room.komponenten[i].id)}" ></app-room-card>
                <app-add-card></app-add-card>
            </div>

            <hr>
            <b>Software:</b>
            <br>
            <br>
            <div class="flex-container" style="padding: 1%">
                <app-room-card  *ngFor="let component of overViewSComponents;" [card]="component"></app-room-card>
                <app-add-card></app-add-card>
            </div>
        </div>

        <hr>
        <footer>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <button (click)="toggleSelectMode()" class="btn btn-success">{{selectButtonValue}}</button>
                    <button (click)="rejectDevices()" *ngIf="selectModeActive" style="float: right" type="button" class="btn btn-danger">Ausmustern</button>
                    <button (click)="maintainDevices()" *ngIf="selectModeActive" style="float: right" type="button" class="btn btn-danger">Warten</button>
                </div>
            </nav>
        </footer>

        <hr >
        <div class="row form-group">
            <label for="exampleFormControlTextarea1"><b>Raumkommentar:</b></label>
            <textarea [(ngModel)]="roomComment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row" style="float: right">
            <button (click)="saveComment(room.id)" type="button" class="btn btn-primary">Speichern</button>
        </div>
</div>
