<div class="container-fluid">
        <div class="row">
    
    
            <!--Searchbar with Icon-->
            <div class="row no-gutters">
                <div class="col-md-8">
                     <input [(ngModel)]="searchText" class="form-control border-secondary border-right-0 rounded-0" type="search" value="Suche" id="example-search-input4">
                </div>
                <div class="col-auto">
                     <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
                        <i class="fa fa-search"></i>
                     </button>
                </div>
            </div>
      
        </div>
        <hr>
        <div class="ex1">
            <div class="flex-container">
                <app-device-card *ngFor="let deviceCard of deviceCards; let i = index" [card]="deviceCard" (click)="showDetailedDevice(devices[i].id)" ></app-device-card>
                <app-add-device-card></app-add-device-card>
            </div>
        </div>
    </div>