<div class="container-fluid">
  <div class="row">


    <!--Searchbar with Icon-->
    <div class="row no-gutters">
      <div class="col-md-8">
        <input [(ngModel)]="searchText" class="form-control border-secondary border-right-0 rounded-0" type="search"
          value="Suche" id="example-search-input4">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

  </div>
  <hr>
  <b>Räume:</b>
  <div class="ex1">
    <div class="flex-container">
      <app-room-card *ngFor="let room of (overViewRooms | roomPipe:searchText)" [card]="room"
        (click)="showDetailedCard(room.header)"></app-room-card>
      <app-add-card (click)="showAddRoom()"></app-add-card>
    </div>
  </div>
</div>
</div>
